.defaultLayout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    flex-shrink: 0;
  }
}

.mainContent {
  flex-grow: 1;
  padding: var(--size-4);
}
