.productCard {
  position: relative;
  overflow: hidden;
  border-radius: var(--size-3);
  box-shadow: var(--shadow-lg);
  transition-property: box-shadow;
  transition-duration: var(--duration-base);
  transition-timing-function: var(--timing-function-base);
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: var(--shadow-base);
  }

  * {
    margin: 0;
  }
}

.productCardImage {
  width: 100%;
  object-fit: cover;
  flex: 0;
  aspect-ratio: 1;
}

.productCardContent {
  position: relative;
  padding: var(--size-4);
  padding-top: var(--size-14);
  margin-top: calc(-1 * var(--size-20));
  color: var(--color-off-white);
  isolation: isolate;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.9;
    background-image: linear-gradient(
      0deg,
      hsl(var(--color-primary-hsl) / 1) 0%,
      hsl(var(--color-primary-hsl) / 1) 50%,
      var(--color-transparent) 100%
    );
    transition-property: opacity;
    transition-duration: var(--duration-base);
    transition-timing-function: var(--timing-function-base);
  }

  &:hover::before {
    opacity: 1;
  }
}

.categoryPriceWrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--size-2);
}

.cardHeading {
  font-size: var(--fs-xl);
}

.discount {
  position: absolute;
  top: var(--size-4);
  right: var(--size-4);
  background-color: var(--color-primary);
  border-radius: var(--size-1_5);
  padding: var(--size-1_5);
  color: var(--color-off-white);
}

.categories {
  font-weight: 300;
}

.price {
  flex-shrink: 0;
  font-size: var(--fs-xl);
  font-weight: bold;
}
