.footer {
  display: flex;
  justify-content: space-between;
  gap: var(--size-4);
  padding: var(--size-4);
  background-color: hsl(var(--color-dark-grey-hsl) / 0.04);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footerContent {
  max-width: 542px;
}

.chromaticLogo {
  width: 52px;
  height: 52px;
}
