:root {
  --color-primary-darker-hsl: 182 100% 21%;
  --color-primary-dark-hsl: 182 100% 25%;
  --color-primary-hsl: 182 100% 31%;
  --color-primary-light-hsl: 182 100% 41%;
  --color-off-white-hsl: 45 29% 97%;
  --color-dark-grey-hsl: 0 0% 20%;

  --color-primary-darker: hsl(var(--color-primary-darker-hsl) / 1);
  --color-primary-dark: hsl(var(--color-primary-dark-hsl) / 1);
  --color-primary: hsl(var(--color-primary-hsl) / 1);
  --color-primary-light: hsl(var(--color-primary-light-hsl) / 1);
  --color-off-white: hsl(var(--color-off-white-hsl) / 1);
  --color-dark-grey: hsl(var(--color-dark-grey-hsl) / 1);
  --color-transparent: hsl(
    0 0 0 / 0
  ); /* needed for animating colors from transparent */

  --shadow-md: 0 4px 6px -1px hsl(var(--color-dark-grey-hsl) / 0.1),
    0 2px 4px -1px hsl(var(--color-dark-grey-hsl) / 0.06);
  --shadow-base: 0 1px 3px 0 hsl(var(--color-dark-grey-hsl) / 0.1),
    0 1px 2px 0 hsl(var(--color-dark-grey-hsl) / 0.06);
  --shadow-lg: 0 10px 15px -3px hsl(var(--color-dark-grey-hsl) / 0.1),
    0 4px 6px -2px hsl(var(--color-dark-grey-hsl) / 0.05);

  --max-w-base: 37.5rem;

  --size-0_5: 0.125rem;
  --size-1: 0.25rem;
  --size-1_5: 0.375rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-14: 3.5rem;
  --size-20: 5rem;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;

  --timing-function-base: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-base: 300ms;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--color-off-white);
  color: var(--color-dark-grey);
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-base);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
