:root {
  --color-primary-hsl: 182 100% 31%;
  --color-primary-dark-hsl: 182 100% 21%;
  --color-primary-light-hsl: 182 100% 41%;
  --color-background-hsl: 45 29% 97%;
  --color-text-hsl: 0 0% 20%;

  --color-primary: hsl(var(--color-primary-hsl) / 1);
  --color-primary-dark: hsl(var(--color-primary-dark-hsl) / 1);
  --color-primary-light: hsl(var(--color-primary-light-hsl) / 1);
  --color-background: hsl(var(--color-background-hsl) / 1);
  --color-text: hsl(var(--color-text-hsl) / 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
